@{
    ViewData["Title"] = "Início";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="./script.js"></script>
    <link rel="icon" href="img/vt.png" sizes="32x32">
    <title>Gerenciador de Tarefas</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="img/logo-visiontec-white.png" alt="Logo Visiontec">
        </div>
        <div class="support">
            <img src="img/support.svg.svg" alt="">
        </div>
        <div id="nome-usuario" class="nome-usuario">
            Olá, <span id="nome-usuario-texto">Visitante</span>!
        </div>
        <a href="@Url.Action("Index", "Home")">
            <img class="icones" src="/img/Home.png" alt="Início" style="width: 18px; height: 18px;">
        </a>
        <a href="@Url.Action("criarTarefa", "Home")">
            <img class="icones" src="/img/mais.png" alt="Nova Tarefa" style="width: 18px; height: 18px;">
        </a>
        <a href="@Url.Action("minhasTarefas","Home")">
            <img class="icones" src="/img/tarefa.png" alt="Minhas Tarefas" style="width: 18px; height: 18px;">
        </a>
        <a href="@Url.Action("dashboard", "Home")">
            <img class="icones" src="/img/Dashboard.png" alt="Dashboard" style="width: 18px; height: 18px;">
        </a>
        <a href="javascript:void(0);" class="icones" id="search-icon">
            <img src="img/search-icon.svg" alt="Buscar" style="width: 18px; height: 18px;">
        </a>
        <div id="filtro-container" class="filtro-container">
            <label for="filtro-status" style="display: none;">Filtrar por status:</label>
            <select id="filtro-status" style="display: none;" onchange="filtrarTarefas()">
                <option value="todos">Todos</option>
                <option value="Pendente">Pendentes</option>
                <option value="Em Andamento">Em Andamento</option>
                <option value="Concluída">Concluídas</option>
                <option value="Vencida">Vencidas</option>
            </select>
            <label for="filtro-pesquisa" style="color: black;">Filtrar por ID ou Título:</label>
            <input type="text" id="filtro-pesquisa" placeholder="Buscar..." oninput="filtrarTarefas()">
        </div>
        <div class="notificacao-container" style="position: relative; cursor: pointer;" onclick="mostrarNotificacoes()">
            <img src="img/sinos.png" alt="Notificações" id="notificacao-icon" style="width: 18px; height: 18px; margin: 0 12px;">
            <span id="quantidade-notificacoes" style="position: absolute; top: 0; right: 0; background-color: red; color: white; border-radius: 50%; padding: 0.2em 0.5em; font-size: 12px; display: none;">0</span>
        </div>
        <a href="@Url.Action("Login", "Home")">
            <img id="menu-icon" id="logout-button" src="img/sair.svg" alt="Sair" style="width: 18px; height: 18px;">
        </a>
    </nav>

    <div class="container">
        <div class="column" id="pendente">
            <h2><img src="img/pendente.png" alt="Pendentes" style="width: 17px; height: 17px; margin-right: 8px;">Pendentes: <span id="contador-pendentes">0</span></h2>
            <hr class="linha">
            <ul id="tarefas-pendentes"></ul>
        </div>
        <div class="column" id="em-andamento">
            <h2><img src="img/andamento.png" alt="Pendentes" style="width: 17px; height: 17px; margin-right: 8px;">Em Andamento: <span id="contador-andamento">0</span></h2>
            <hr class="linha">
            <ul id="tarefas-andamento"></ul>
        </div>
        <div class="column" id="parado">
            <h2><img src="img/stop.png" alt="Pendentes" style="width: 17px; height: 17px; margin-right: 8px;">Parado: <span id="contador-parado">0</span></h2>
            <hr class="linha">
            <ul id="tarefas-parado"></ul>
        </div>
        <div class="column" id="tarefas-vencidas">
            <h2><img src="img/vencida.png" alt="Pendentes" style="width: 17px; height: 17px; margin-right: 8px;">Vencidas: <span id="contador-vencidas">0</span></h2>
            <hr class="linha">
            <ul id="tarefas-vencidas-lista"></ul>
        </div>

        <div class="column" id="concluidas">
            <h2><img src="img/concluida.png" alt="Pendentes" style="width: 17px; height: 17px; margin-right: 8px;">Concluidas: <span id="contador-concluidas">0</span></h2>
            <hr class="linha">
            <ul id="tarefas-concluidas"></ul>
        </div>
        <div id="modal-motivo" class="modal modal-motivo">
            <div class="modal-conteudo">
                <h2>Informe o motivo para mover para "Parado"</h2>
                <textarea id="motivo-parado" placeholder="Digite o motivo aqui..." rows="4" cols="50"></textarea>
                <div class="modal-botoes">
                    <button id="confirmar-motivo" onclick="confirmarMotivo()">Confirmar</button>
                    <button id="cancelar-motivo" onclick="fecharModal()">Cancelar</button>

                </div>
            </div>
        </div>
       </div>
        <div id="modal-motivo-exibicao" class="modal modal-motivo-exibicao" style="left: 34%; top: 34%; background: none; animation: scale-up 0.3s ease-out;">
            <div class="modal-conteudo">
                <h3>Motivo da Tarefa Parada</h3>
                <div id="motivo-usuario">
                    <strong>Motivo Adicionado por:</strong> <span id="usuario-motivo"></span> às <span id="data-hora-motivo"></span>
                </div>
                <textarea id="motivo-parado-exibicao" readonly></textarea>

                <div id="motivos-adicionais-container">
                    <ul id="motivos-lista">
                    </ul>
                </div>
                <button class="fecharMotivo" onclick="fecharModalExibicao()">Fechar</button>
            </div>
        </div>

        <div id="modal-motivo-edicao" class="modal modal-motivo-edicao">
            <div class="modal-conteudo">
                <h3>Atualizar Motivo da Tarefa Parada</h3>
                <textarea id="motivo-parado-edicao"></textarea>
                <!-- Campo hidden para armazenar o ID da tarefa -->
                <input type="hidden" id="tarefa-id" />
                <button onclick="salvarNovoMotivo()">Salvar</button>
                <button onclick="fecharModalEdicao()">Fechar</button>
            </div>
        </div>

        <div id="notificacao-modal" class="modal modal-notificacao">
            <ul id="notificacao-lista" style="list-style: none; margin: 0; padding: 10px;"></ul>
        </div>

</body>
</html>
